*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:var(--back-c);
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100%;
}
:root{
    --back-c: #252525;
    --light: #ffffff;
    --paragraf: #c3c3c3;
    --h2: #92caf9;
    --font-h1: Arial;
    --font-p: Arial;
    --font-h2: Arial;
    --b-f-c: #3a3535;
    --p-f-s: 1rem;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: var(--font-h1);
    height: 90px;
    width: 100%;
    text-align: center;
    font-family: var(--font-h1);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
   .text p{
        font-size: 15px;
    }
}
.text{
    width: 70%;
    text-align: center;
}
.text p{
    color: var(--paragraf);
    font-family: var(--font-p);
}
button{
    margin-top: 1rem;
    padding: 4px 16px 4px 16px;
    border:#92caf9 solid 2px;
    background-color: var(--b-f-c);
    color: var(--h2);
    border-radius: 22px;
}
a{
    color: var(--h2);
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
   .text p {
    font-size: 20px;
     }
 }
button:hover{
    background-color: #252525;
}

/*Media zur h1*/
@media only screen and (max-width: 600px) {
    h1{
         font-size: 15px;
     }
 }